body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}
body a {
  color: inherit;
  text-decoration: none;
}

/* PEN STYLES - !!! you dont neeed them */
.header {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover,
.header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.content {
  width: 800px;
  max-width: 95%;
  margin: 50px auto;
}

.content__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

/* TILES NAVIGATION STYLES - !!! you neeed them */
.tiles-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.tiles-nav__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  border-radius: 5px;
  cursor: pointer;
}

.tiles-nav__item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.tiles-nav__item:hover:before {
  opacity: 1;
}

.tile > * {
  position: relative;
  z-index: 2;
}

.tile__icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.tile__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.tile__descr {
  margin: 0;
}

.tile__hover-elem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition-property: transform;
  transition-timing-function: linear;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: invert(100%);
  z-index: 1;
}

.tile__hover-elem--up {
  transform: scaleY(0);
  transform-origin: bottom center;
}

.tile__hover-elem--down {
  transform: scaleY(0);
  transform-origin: top center;
}

.tile__hover-elem--left {
  transform: scaleX(0);
  transform-origin: center right;
}

.tile__hover-elem--right {
  transform: scaleX(0);
  transform-origin: center left;
}

.tile__hover-elem--out-up {
  transform: scaleY(0);
  transform-origin: top center;
}

.tile__hover-elem--out-down {
  transform: scaleY(0);
  transform-origin: bottom center;
}

.tile__hover-elem--out-left {
  transform: scaleX(0);
  transform-origin: center left;
}

.tile__hover-elem--out-right {
  transform: scaleX(0);
  transform-origin: center right;
}

.tile__hover-elem.js-visible {
  transform: scale(1, 1);
}
